<h1>詳細</h1>
<hr>
    <div>
    <% @posts.each do |post| %>
        <p>日付：<%= post.date %></p>
        <p>タイトル：<%= post.title %></p>
        <p>内容：<%= markdown(post.content) %></p>
    <% end %>
    </div>
